*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: 'Finlandica', sans-serif;
}

body{
    height: 100vh;
    background-color: #white !important;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    width: 100%;
    flex-wrap: wrap;
    background-color: #B9E9FC;
}

header h1{
    margin: 0px;
}

.inspo-quote {
    font-family: 'Caveat', cursive;
    font-size: 24px;
}

main{
    width:50%;
    height: 100vh;
    padding: 1em;
    overflow: none;
}

section h3{
    margin:0px;
}

section form{
    background-color: transparent !important;;
    width: 100%;
    height:5rem;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    border-radius: 0.5rem;
}

#addNewTask{
    font-size: 1rem;
    height: 3rem;
    width: 18%;
    padding: 0.3rem;
    background-color: #B0DAFF;
    /* border: none; */
}

.new-task-btn{
    border:none;
    background-color:#f9f9b3 !important;
    margin: 3px
 }

 .new-task-btn:hover{
    background-color:#f6f614 !important;

 }

 li {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}

li button {
    align-self: flex-end;
    width: 25px;
    height: 25px;
    margin: 6px;
    background-color: #e2e2ea;
    border-radius: 10%;
    border: none;
}

.task-text {
    flex: 1;
    font-size: 18px;
}

#newTask{
    font-size: 18px;
    padding: 0.2rem;
    width: 100%;
    height: 2rem;
}

#addNewTask.new-task-btn {
    height: 2rem;
    width: 2rem
}

#taskList{
    padding:0;

}
.tasklist {
    padding-top: 15px;
}

.completed {
    text-decoration: line-through;
    font-style: italic;
}

/* hides buttons when completed button is clicked */
.completed button {
    display: none;
}
  
.nav-item a{
    margin:0px 30px;
    padding:0px !important;
}
.nav-item{
    position: relative;
    display: block;
  }
  
.nav-item:before, .nav-item:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    top: 50%;
    margin-top: -0.5px;
    background: black;
}
  
/* .nav-item:before {
    left: -.1px;
} */

.nav-item:after {
    /* right: .1px; */
    background: black;
    transition: width 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}
  
.nav-item:hover:before {
    background: black;
    width: 100%;
    transition: width 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
}
  
.nav-item:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
}
  
.navbar-brand-custom {
    background-image: linear-gradient(
        to right,
        #54b3d6,
        #54b3d6 50%,
        #000 50%
        );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}
    
.navbar-brand-custom:before {
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}
    
.navbar-brand-custom:hover {
     background-position: 0;
}
    

