*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: 'Finlandica', sans-serif;
}


body{
    height: 100vh;
    background-color: #FEFF86 !important;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;  
}


header {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    width: 100%;
    flex-wrap: wrap;
    background-color: #B9E9FC;
}


header ul{
    display: flex;
    list-style: none;
    gap: 1em;

}


a{
    text-decoration: none !important;
    color: rgb(72, 79, 126)!important;
}


a:hover{
    text-decoration:line-through !important;
}


.inspo-quote {
    font-family: 'Caveat', cursive;
    font-size: 24px;
    padding-top: 10px; 
}


main{
    width:350px ;
    height: 100vh;
    padding: 1em;
    overflow: auto;
}


/* section h3{
    padding: 1rem;
} */


section form{
    background-color: transparent !important;;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    border-radius: 0.5rem;
}


#addNewTask{
    font-size: 1rem;
    height: 3rem;
    width: 18%;
    padding: 0.3rem;
    background-color: #B0DAFF;
    /* border: none; */
}


.new-task-btn{
    border:none;
    background-color:#f9f9b3 !important;
 }

 .new-task-btn:hover{
    background-color:#d1d1b2 !important;
 }

 li {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    margin-right: 67px;

  }
  
  li button {
    align-self: flex-end;
  }


#newTask{
    font-size: 1.5rem;
    padding: 0.3rem;
    width: 80%;
    height: 3rem;
}

.tasklist {
    padding-top: 15px;
}

.completed {
    text-decoration: line-through;
    font-style: italic;
}

/* hides buttons when completed button is clicked */
.completed button {
display: none;
}
  

footer{
    padding: 3em;
    width: 100%;
    background-color: #B9E9FC;
    text-align: center;
}
